/*
 * app.css
 */
.text-primary {
    color: #409EFF !important;
}

.text-muted {
    color: #909399 !important;
}

.bg-primary {
    background-color: #409EFF !important;
}

.bg-muted {
    background-color: #fafafa !important;
}

.bg-white {
    background-color: #fff !important;
}

a, .link {
    color: #007bff;
}

a:hover, .link:hover {
    color: #0056b3;
}