/*
 * app.css
 */

html, body {
    height: 100%;
}

#app {
    height: auto;
    min-height: 100%;
}

.page-container {
    padding-top: 56px;
}

.el-main {
    padding: 1rem;
}

.text-primary {
    color: #409EFF !important;
}

.text-muted {
    color: #909399 !important;
}

.bg-primary {
    background-color: #409EFF !important;
}

.bg-muted {
    background-color: #fafafa !important;
}

.bg-white {
    background-color: #fff !important;
}

a, .link {
    color: #007bff;
    text-decoration: none;
}

a:hover, .link:hover {
    color: #0056b3;
    cursor: pointer;
}

header[theme='primary'] {
    background-color: #409EFF;
    color: #ffffff;
}

header[theme='primary'] a,
header[theme='primary'] a:hover,
header[theme='primary'] .el-link--default,
header[theme='primary'] .el-link--default:hover,
header[theme='primary'] .el-dropdown {
    color: #ffffff;
}

header[theme='primary'] .el-avatar {
    background-color: #ffffff;
}

header[theme='primary'] .el-avatar i {
    color: #C0C4CC;
}

.el-form-item__content {
    display: flex;
    align-items: center;
}

.el-form-item__content .el-form-item__error {
    position: unset;
    top: unset;
    left: unset;
    padding-top: 0;
}
