/*
 * app.css
 */
.text-primary {
    color: #409EFF !important;
}

.text-muted {
    color: #6c757d !important;
}

.bg-muted {
    background-color: #fafafa !important;
}

.bg-white {
    background-color: #fff !important;
}