html, body {
    height: 100%;
}

.container-full {
    padding-top: 56px;
    padding-bottom: 56px;
    height: auto;
    min-height: 100%;
}

footer {
    border-top: 1px solid #dee2e6;
    margin-top: -56px;
    padding-top: 16px;
}

.menu-container {
    max-width: 320px;
    padding: 15px 15px 15px 0;
    border-right: 1px solid #dee2e6;
}
