html, body {
    height: 100%;
}

.page-container {
    padding-top: 54px;
    padding-bottom: 56px;
    height: auto;
    min-height: 100%;
}

footer {
    border-top: 1px solid #dee2e6;
    margin-top: -56px;
    padding-top: 16px;
}

.menu-container {
    border-right: 1px solid #dee2e6;
}

.main-container {
    padding: 1rem;
}
