<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--<link rel="icon" href="<%= BASE_URL %>assets/img/favicon.ico">-->
    <sitemesh:write property="head"></sitemesh:write>
    <title>
        <sitemesh:write property="title"></sitemesh:write>
        - <%= VUE_APP_TITLE %>
    </title>
</head>
<body css="<sitemesh:write property='body.css'/>" js="<sitemesh:write property='body.js'/>">
<div id="app" class="d-flex flex-column">
    <sitemesh:write property="body"></sitemesh:write>
</div>
<!-- built files will be auto injected -->
</body>
</html>
